# Filtrar datos

In [1]:
# Importar la bibliteca de Pandas y cargar el archivo csv con todos los registros mque son m√°s de 7 millones
# No se esta usando: , nrows = 1000000 en las comillas para delimitar la carga
import pandas as pd
df = pd.read_csv("D:/0.- TODO JORGE LUIS/4.- TODO POWER BI 2019/Certificados Linkedin/9. Python/base_datos_2008.csv")

In [3]:
# ver los 5 primeros registros de la columna ArrDealay
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [6]:
# Cantidad de filas y columnas
df.shape

(7009728, 29)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

In [4]:
#ver los nombres de las columnas
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
origin_df = df["Origin"]

In [13]:
origin_df

0          IAD
1          IAD
2          IND
3          IND
4          IND
          ...
7009723    ATL
7009724    ATL
7009725    PBI
7009726    IAD
7009727    SAT
Name: Origin, Length: 7009728, dtype: object

In [15]:
origin_df.head(10)

0    IAD
1    IAD
2    IND
3    IND
4    IND
5    IND
6    IND
7    IND
8    IND
9    IND
Name: Origin, dtype: object

In [16]:
origin_df[1000:1100]

1000    OAK
1001    OAK
1002    OAK
1003    OAK
1004    OAK
       ...
1095    OAK
1096    OAK
1097    OAK
1098    OAK
1099    OAK
Name: Origin, Length: 100, dtype: object

In [5]:
# Columnas que no se ven
df[["TailNum", "ActualElapsedTime", 
    "CRSElapsedTime", "AirTime", "ArrDelay", 
    "DepDelay", "Origin", "Dest", "Distance"]].head(10)

,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance
0,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810
1,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810
2,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515
3,N612SW,88.0,90.0,78.0,-6.0,-4.0,IND,BWI,515
4,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515
5,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688
6,N763SW,240.0,250.0,230.0,57.0,67.0,IND,LAS,1591
7,N428WN,233.0,250.0,219.0,-18.0,-1.0,IND,LAS,1591
8,N689SW,95.0,95.0,70.0,2.0,2.0,IND,MCI,451
9,N648SW,79.0,95.0,70.0,-16.0,0.0,IND,MCI,451

In [6]:
# ver las primeras 10 filas
df[0:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [107]:
# Ver las filas 900000 a 900060
df[900000:900060]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
900000,2008,2,22,5,2139.0,2130,2354.0,2346,DL,1142,...,8.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900001,2008,2,22,5,2031.0,1950,42.0,2322,DL,1143,...,5.0,47.0,0,NaN,0,0.0,8.0,39.0,0.0,33.0
900002,2008,2,22,5,1718.0,1718,1838.0,1839,DL,1145,...,8.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900003,2008,2,22,5,614.0,615,907.0,915,DL,1148,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900004,2008,2,22,5,1003.0,1006,1619.0,1617,DL,1148,...,6.0,30.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900005,2008,2,22,5,1415.0,1250,1729.0,1515,DL,1151,...,12.0,50.0,0,NaN,0,5.0,0.0,59.0,0.0,70.0
900006,2008,2,22,5,1809.0,1605,1925.0,1705,DL,1151,...,6.0,34.0,0,NaN,0,0.0,0.0,16.0,0.0,124.0
900007,2008,2,22,5,741.0,745,952.0,953,DL,1152,...,12.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900008,2008,2,22,5,732.0,730,906.0,917,DL,1153,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900009,2008,2,22,5,739.0,730,902.0,847,DL,1154,...,5.0,16.0,0,NaN,0,0.0,0.0,6.0,0.0,9.0
900010,2008,2,22,5,1946.0,1848,2213.0,2112,DL,1155,...,7.0,21.0,0,NaN,0,29.0,19.0,3.0,0.0,10.0
900011,2008,2,22,5,1210.0,1202,1436.0,1425,DL,1156,...,4.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900012,2008,2,22,5,711.0,715,840.0,841,DL,1157,...,10.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900013,2008,2,22,5,612.0,615,1115.0,1105,DL,1158,...,11.0,30.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900014,2008,2,22,5,1253.0,1220,1444.0,1402,DL,1158,...,6.0,30.0,0,NaN,0,33.0,0.0,9.0,0.0,0.0
900015,2008,2,22,5,1507.0,1414,1805.0,1640,DL,1159,...,11.0,23.0,0,NaN,0,0.0,0.0,32.0,0.0,53.0
900016,2008,2,22,5,NaN,1215,NaN,1422,DL,1162,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
900017,2008,2,22,5,1522.0,1515,1734.0,1705,DL,1162,...,17.0,31.0,0,NaN,0,0.0,0.0,22.0,0.0,7.0
900018,2008,2,22,5,2214.0,2115,2359.0,2251,DL,1168,...,7.0,36.0,0,NaN,0,0.0,12.0,9.0,0.0,47.0
900019,2008,2,22,5,1540.0,1535,1900.0,1836,DL,1170,...,10.0,36.0,0,NaN,0,0.0,0.0,24.0,0.0,0.0
900020,2008,2,22,5,923.0,923,1029.0,1040,DL,1171,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900021,2008,2,22,5,619.0,620,1333.0,1334,DL,1172,...,6.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900022,2008,2,22,5,1523.0,1445,1649.0,1603,DL,1172,...,5.0,23.0,0,NaN,0,0.0,3.0,8.0,0.0,35.0
900023,2008,2,22,5,758.0,740,1029.0,946,DL,1173,...,5.0,37.0,0,NaN,0,0.0,18.0,25.0,0.0,0.0
900024,2008,2,22,5,2003.0,1940,2312.0,2129,DL,1174,...,11.0,94.0,0,NaN,0,0.0,23.0,80.0,0.0,0.0
900025,2008,2,22,5,1352.0,1349,1601.0,1541,DL,1175,...,12.0,26.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
900026,2008,2,22,5,1916.0,1841,2117.0,2039,DL,1176,...,13.0,13.0,0,NaN,0,0.0,0.0,3.0,0.0,35.0
900027,2008,2,22,5,1445.0,1418,1607.0,1540,DL,1179,...,3.0,18.0,0,NaN,0,27.0,0.0,0.0,0.0,0.0
900028,2008,2,22,5,1704.0,1706,2204.0,2152,DL,1180,...,10.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900029,2008,2,22,5,2331.0,2245,34.0,2356,DL,1180,...,4.0,16.0,0,NaN,0,31.0,0.0,0.0,0.0,7.0
900030,2008,2,22,5,1517.0,1520,1617.0,1623,DL,1181,...,10.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900031,2008,2,22,5,1504.0,1500,1657.0,1642,DL,1183,...,10.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
900032,2008,2,22,5,1143.0,1126,1345.0,1320,DL,1184,...,14.0,12.0,0,NaN,0,0.0,0.0,8.0,0.0,17.0
900033,2008,2,22,5,1419.0,1407,1528.0,1507,DL,1184,...,6.0,28.0,0,NaN,0,0.0,0.0,9.0,0.0,12.0
900034,2008,2,22,5,1341.0,1330,1602.0,1517,DL,1185,...,14.0,28.0,0,NaN,0,0.0,0.0,34.0,0.0,11.0
900035,2008,2,22,5,1656.0,1650,2106.0,2040,DL,1185,...,9.0,14.0,0,NaN,0,0.0,0.0,20.0,0.0,6.0
900036,2008,2,22,5,1659.0,1600,1757.0,1724,DL,1186,...,5.0,18.0,0,NaN,0,0.0,2.0,0.0,0.0,31.0
900037,2008,2,22,5,1835.0,1809,2015.0,1928,DL,1187,...,11.0,36.0,0,NaN,0,0.0,0.0,21.0,0.0,26.0
900038,2008,2,22,5,2115.0,2120,2152.0,2210,DL,1189,...,5.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900039,2008,2,22,5,1455.0,1426,1622.0,1543,DL,1190,...,7.0,23.0,0,NaN,0,10.0,0.0,10.0,0.0,19.0
900040,2008,2,22,5,812.0,815,916.0,923,DL,1192,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900041,2008,2,22,5,NaN,610,NaN,752,DL,1193,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
900042,2008,2,22,5,855.0,855,1059.0,1055,DL,1193,...,7.0,35.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900043,2008,2,22,5,1253.0,1255,1955.0,2008,DL,1194,...,12.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900044,2008,2,22,5,2319.0,2245,2313.0,2233,DL,1195,...,4.0,20.0,0,NaN,0,0.0,0.0,6.0,0.0,34.0
900045,2008,2,22,5,1932.0,1859,2115.0,2044,DL,1196,...,8.0,30.0,0,NaN,0,0.0,0.0,0.0,0.0,31.0
900046,2008,2,22,5,1453.0,1430,1622.0,1557,DL,1197,...,8.0,18.0,0,NaN,0,0.0,0.0,2.0,0.0,23.0
900047,2008,2,22,5,1854.0,1855,2129.0,2130,DL,1198,...,11.0,30.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900048,2008,2,22,5,1836.0,1830,2024.0,2012,DL,1201,...,6.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900049,2008,2,22,5,730.0,730,933.0,927,DL,1202,...,10.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900050,2008,2,22,5,1029.0,1012,1141.0,1126,DL,1202,...,4.0,34.0,0,NaN,0,10.0,0.0,0.0,0.0,5.0
900051,2008,2,22,5,727.0,730,849.0,846,DL,1203,...,14.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900052,2008,2,22,5,941.0,939,1101.0,1054,DL,1203,...,6.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900053,2008,2,22,5,733.0,729,1408.0,1056,DL,1205,...,4.0,214.0,0,NaN,0,0.0,0.0,192.0,0.0,0.0
900054,2008,2,22,5,1238.0,1225,1536.0,1524,DL,1206,...,20.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900055,2008,2,22,5,1714.0,1510,2119.0,1839,DL,1207,...,6.0,45.0,0,NaN,0,9.0,0.0,36.0,0.0,115.0
900056,2008,2,22,5,706.0,710,857.0,856,DL,1208,...,8.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
900057,2008,2,22,5,953.0,955,1616.0,1559,DL,1208,...,6.0,34.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
900058,2008,2,22,5,712.0,715,1030.0,914,DL,1209,...,10.0,86.0,0,NaN,0,0.0,0.0,76.0,0.0,0.0
900059,2008,2,22,5,2207.0,1925,31.0,2217,DL,1210,...,8.0,14.0,0,NaN,0,134.0,0.0,0.0,0.0,0.0

In [108]:
# Vuelos retrazados menos de 1 hora
df[df["ArrDelay"] < 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [109]:
# Vuelos retrazados m√°s de 1 hora
df[df["ArrDelay"] > 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [110]:
# Vuelos retrazados exactamente 1 hora
df[df["ArrDelay"] == 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
96,2008,1,3,4,2039.0,1930,155.0,55,WN,3940,...,5.0,14.0,0,NaN,0,0.0,0.0,22.0,0.0,38.0
423,2008,1,3,4,2117.0,2010,2355.0,2255,WN,1485,...,4.0,10.0,0,NaN,0,0.0,0.0,1.0,0.0,59.0
610,2008,1,3,4,1942.0,1840,2205.0,2105,WN,3332,...,4.0,9.0,0,NaN,0,60.0,0.0,0.0,0.0,0.0
1356,2008,1,3,4,1933.0,1835,1955.0,1855,WN,921,...,2.0,10.0,0,NaN,0,0.0,0.0,3.0,0.0,57.0
3574,2008,1,4,5,1600.0,1510,2355.0,2255,WN,3144,...,5.0,13.0,0,NaN,0,5.0,0.0,10.0,0.0,45.0

In [112]:
# Vuelos que no se han retrazado 1 hora, significa de 59 para abajo y de 61 para arriba
df[df["ArrDelay"] != 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [113]:
# Vuelos retrazados menor o igual a 1 hora
df[df["ArrDelay"] <= 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [114]:
# Vuelos retrazados mayor o igual a 1 hora
df[df["ArrDelay"] >= 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [2]:
# Muestra el contenido de la columna Origin, las primeras 60 filas
df["Origin"].head(60)

0     IAD
1     IAD
2     IND
3     IND
4     IND
5     IND
6     IND
7     IND
8     IND
9     IND
10    IND
11    IND
12    IND
13    IND
14    IND
15    IND
16    IND
17    IND
18    IND
19    ISP
20    ISP
21    ISP
22    ISP
23    ISP
24    ISP
25    ISP
26    ISP
27    ISP
28    ISP
29    ISP
30    ISP
31    ISP
32    ISP
33    ISP
34    ISP
35    ISP
36    ISP
37    ISP
38    ISP
39    ISP
40    ISP
41    ISP
42    ISP
43    ISP
44    ISP
45    ISP
46    ISP
47    JAN
48    JAN
49    JAN
50    JAN
51    JAN
52    JAN
53    JAN
54    JAN
55    JAN
56    JAX
57    JAX
58    JAX
59    JAX
Name: Origin, dtype: object

In [116]:
# Muestra de la columna Origen los 5 primeros registros que sean de ATL Atlanta
df[df["Origin"] == "ATL"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [117]:
# Muestra de la columna Origen los 5 primeros registros de ATL Y de la columna ArrDelay los vuelos retrazados m√°s de 60 minutos
df[(df["Origin"] == "ATL") & (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,21.0,60.0,0,NaN,0,0.0,0.0,96.0,0.0,0.0
110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,12.0,178.0,0,NaN,0,0.0,0.0,164.0,0.0,14.0
121229,2008,1,3,4,1421.0,1200,1526.0,1325,XE,2132,...,9.0,13.0,0,NaN,0,17.0,0.0,0.0,0.0,104.0
132768,2008,1,6,7,1315.0,1130,1410.0,1240,YV,7267,...,3.0,6.0,0,NaN,0,0.0,0.0,90.0,0.0,0.0
133549,2008,1,7,1,2040.0,1800,2156.0,1932,YV,2626,...,12.0,28.0,0,NaN,0,144.0,0.0,0.0,0.0,0.0

In [118]:
# Muestra de la columna Origen los 5 primeros registros de ATL O de la columna ArrDelay los vuelos retrazados m√°s de 60 minutos
df[(df["Origin"] == "ATL") | (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [119]:
# Muestra de la columna Origen, los de Houston y Atlanta, los primeros 5 registros usando la funci√≥n isin
df[df.Origin.isin(["HOU","ATL"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [120]:
# Nos permite saber todos aquellos registros donde no tenemos ning√∫n valor en la columna ArrDelay
# con la funci√≥n isna y pd de pandas
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [121]:
# Nos permite ver la cantidad de filas que no tienen ning√∫n valor de la base de datos completa de la columna ArrDelay
len(df[pd.isna(df["ArrDelay"])])

154699